.auth-container {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

}

#login-form {

    width: 400px;

    background: var(--card-color);

    padding: 30px;

    border-radius: 15px;

    display: flex;

    flex-direction: column;

    gap: 15px;

}

#login-form input {

    padding: 12px;

    border: none;

    border-radius: 8px;

}

#login-form h1 {

    text-align: center;

}